{% load staticfiles %}
<img src = "{% static 'animal.png' %} height="900" width="768" class="d-inline-block align-top"
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="animal-1279633_1920.png" rel="icon" type="image/png"
       
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="{ % 'Static' css/bootstrap-grid.css % }">
    </head>
    <body>
        <h3> Fortotes Login </h3>
        <button type="submit"> <a href="/signup"> SignUp</a></button>
        <button type="submit"> <a href="/signin"> SignIn</a></button>
        <button type="submit"> <a href="/signout"> SignOut</a></button>
        <script src="" async defer></script>
    </body>      
</html>
